* {
  padding: 0;
  margin: 0;
}

html, body {
  overflow: hidden;
}
body {
  position: relative;
}

#game-container {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  /* border: 1px solid black; // use to see box size */
}

#btn-toggle-pathfinder {
  font-size: 40px;
}
